#infoPart {
    height: 5vh;
    background-color: rgb(110, 171, 250);
}

#infoPart h1 {
    color: blue;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 2px darksalmon;
}

#infoPart h2 {
    color:indigo;
    font-weight: bold;
    text-align: center;
    
}

#gamePart {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: rgb(110, 171, 250);
}

canvas {
    border: 3px solid black;
}